[submodule "third_party/parson"]
	path = third_party/parson
	url = https://github.com/kgabis/parson.git
[submodule "third_party/libnice"]
	path = third_party/libnice
	url = https://github.com/helloIAmPau/libnice.git
